# Node.js
Client/node_modules/
Client/.env
Client/.vscode/
Client/build/
Client/package-lock.json

# General
*.log
.DS_Store
.env
.vscode/
__pycache__/
*.pyc

# Flask
Server/venv/
Server/.env
Server/*.pyc
Server/__pycache__/
Server/.vscode/

# IDE
.idea/
*.swp
*.swo