# Node.js
Client/node_modules/
Client/.env
Client/.vscode/
Client/build/
Client/package-lock.json

# Node.js
admin/node_modules/
admin/.env
admin/.vscode/
admin/build/
admin/package-lock.json

# General
*.log
.DS_Store
.vscode/
__pycache__/
*.pyc

# Flask
Server/venv/
Server/.env
Server/*.pyc
Server/__pycache__/
Server/.vscode/

# IDE
.idea/
*.swp
*.swo.env
.env
