# Environment variables
.env
.env.production

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/
phkenv/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# testing
.coverage
htmlcov/
.tox/
.coveragerc
pytest.ini
